<?xml version="1.0"?>

<launch>

<include file="$(find flexbe_onboard)/launch/behavior_onboard.launch" />

<rosparam command="load" file="$(find myflexgit_flexbe_behaviors)/config/testparams.yaml" />

<arg name="jointminjerkclient" default="JointMinJerkClient" />
<node name="behavior_roslnc" pkg="flexbe_widget" type="be_launcher" output="screen" args="-b '$(arg jointminjerkclient)'" />


</launch>